<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title></title>
<script type ="text/javascript" src="/js/jquery-3.1.1.js"></script>
<script type ="text/javascript" src="/js/main.js"></script>
</head>
<body>

<div id='results'>
   <ul>
      <% if(typeof items == 'object' && items){ %>
         <% for(item in items){ %>
         <li><a href="items/update/<%= items[item]._id %>"><%= items[item]._id %></a></li>
         <li><%= items[item].name %></li>
         <li><%= items[item].age %></li>
         <hr>
         <% } %>
      <% } %>
   </ul>
</div>
<p><a href="/items">add an item</a></p>

</body>

</html>
