<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title></title>
<script type ="text/javascript" src="/js/jquery-3.1.1.js"></script>
<script type ="text/javascript" src="/js/main.js"></script>
</head>
<body>
<% if(typeof items == 'object' && items){ %>
<div id='results'>
   <ul>
      <% for(item in items){ %>
      <li><%= items[item]._id %></li>
      <li><%= items[item].name %></li>
      <li><%= items[item].age %></li>
      <% } %>
   </ul>
</div>
      <% }else{ %>
<div>
   <h3>Why not add another?</h3>
   <form id="item" action="/items" method="post">
      <input type="text" name="name"><br/>
      <input type="text" name="age"><br/>
      <button class='user_submit'>submit</button>
   </form>
</div>
<% } %>

</body>

</html>
